<!-- -*- mode: web -*- -->
{% INCLUDE 'overall_header.html' %}
{% INCLUDECSS 'ato_admittance_body.css' %}

<h1>ATO Admittance</h1>

<form method="POST">
    <input type="submit" name="update" value="Save Changes" />
    <fieldset>
        <legend>Admittance Categories</legend>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Active</th>
                </tr>
            </thead>
            <tbody>
                {% for admittance in loops.admittance %}
                <tr>
                    <td class="id">
                        <label>{{ admittance.Id }}</label>
                    </td>
                    <td>
                        <input type="hidden"
                               name="category-initial[{{ admittance.Id }}][Name]"
                               value="{{ admittance.Name }}"
                        />
                        <input class="col-text"
                               type="text"
                               name="category[{{ admittance.Id }}][Name]" }}
                               value="{{ admittance.Name }}" />
                    </td>
                    <td>
                        <input type="hidden"
                               name="category-initial[{{ admittance.Id }}][Active]"
                               {% if admittance.Active %}
                               value="true"
                               {% else %}
                               value="false"
                               {% endif %}
                        />
                        <input type="checkbox"
                               name="category[{{ admittance.Id }}][Active]"
                               {% if admittance.Active %}
                               checked="checked"
                               {% endif %}
                        />
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <input type="submit" name="addnew" value="Add New" />
    </fieldset>

    <fieldset>
        <legend>Permissions</legend>
        <table class="permissions">
            <thead>
                <tr>
                    <th>Group</th>
                    {% for admittance in loops.admittance %}
                    <th>{{ admittance.Name }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for group in loops.groups %}
                <tr>
                    <td>{{ group.Name }}</td>
                    {% for admittance in loops.admittance %}
                    <td>
                        <input type="hidden"
                               name="admittance-initial[{{ admittance.Id }}][{{ group.Id }}]"
                               {% if admittance_groups[admittance.Id][group.Id] %}
                               value="true"
                               {% else %}
                               value="false"
                               {% endif %}
                               />
                        <input type="checkbox"
                               name="admittances[{{ admittance.Id }}][{{ group.Id }}]"
                               {% if admittance_groups[admittance.Id][group.Id] %}
                               checked="checked"
                               {% endif %}
                               />
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </fieldset>

    {{ S_FORM_TOKEN }}
</form>
{% INCLUDE 'overall_footer.html' %}
