{% INCLUDECSS '@VFW440_flight_management/ato.css' %}

{% INCLUDE 'overall_header.html' %}

<h1>Schedule a new mission</h1>
<div class="extra-margin-bottom">
    <form method="post">
        <table>
            <tr>
                <td>
                    <label>Theater</label>
                </td>
                <td class="value">
                    <select name="theater">
                        {% for theaters in loops.theaters %}
                        <option value="{{ theaters.Id }}">{{ theaters.Name }} {{ theaters.Version }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Mission Type</label>
                </td>
                <td class="value">
                    <select name="missiontype">
                        {% for missiontypes in loops.missiontypes %}
                        <option value="{{ missiontypes.Id }}">{{ missiontypes.Name }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Mission Time</label>
                </td>
                <td class="value">
                    <input type="text" name="mission-time" value="TODO: Good date selector" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Description</label>
                </td>
                <td class="value">
                    <textarea name="description"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Server</label>
                </td>
                <td class="value">
                    <input type="text" name="server" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Duration</label>
                </td>
                <td class="value">
                    <input type="text" name="duration" value="TODO: Duration selection" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Loadout Fixed?</label>
                </td>
                <td class="value">
                    <input type="checkbox" name="is-loadout-fixed"/>
                </td>
            </tr>
        </table>
        <input type="submit" value="Schedule Mission" />
    </form>
</div>

{% INCLUDE 'overall_footer.html' %}
