<!-- -*- mode: web -*- -->
{% INCLUDECSS '@VFW440_flight_management/ato.css' %}
{% INCLUDECSS 'https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css' %}
{% INCLUDECSS '@VFW440_flight_management/lib/jquery-ui-timepicker-addon.css' %}
{% INCLUDECSS 'https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css' %}
{% INCLUDECSS '@VFW440_flight_management/lib/jquery.timesetter.css' %}

{% INCLUDEJS '@VFW440_flight_management/lib/moment.min.js' %}
{% INCLUDEJS '@VFW440_flight_management/lib/moment-timezone-with-data-2012-2022.js' %}
{% INCLUDEJS 'https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js' %}
{% INCLUDEJS '@VFW440_flight_management/ato-edit-mission.js' %}
{% INCLUDEJS '@VFW440_flight_management/lib/jquery.timesetter.js' %}

{% INCLUDEJS 'https://code.jquery.com/ui/1.12.1/jquery-ui.min.js' %}
{% INCLUDEJS '@VFW440_flight_management/lib/jquery-ui-timepicker-addon.js' %}

{% INCLUDE 'overall_header.html' %}

<h1>Edit a mission</h1>
<div class="mission-editor">
    <form method="post" id="edit-mission-form">
        <input name="save" type="submit" value="Save" />
        <h2>Mission Details</h2>
        <table class="mission-details">
            <tr>
                <td class="field-label">
                    <label>Signup Link</label>
                </td>
                <td class="value">
                    {% if MISSIONLINK %}
                    <a href="{{ MISSIONLINK }}">{{ MISSIONLINK }}</a>
                    {% else %}
                    (Must first save mission)
                    {% endif %}
                </td>
                <td class="error"></td>
            </tr>
            <tr>
                <td class="field-label">
                    <label>Published?</label>
                </td>
                <td class="value">
                    <input type="checkbox" name="published"
                           {% if PUBLISHED %}
                           checked="checked"
                           {% endif %}
                    />
                </td>
                <td class="error"></td>
            </tr>
            <tr>
                <td class="field-label">
                    <label>Mission Name:</label>
                </td>
                <td class="value">
                    <input type="text" name="missionname" value="{{ MISSIONNAME }}" />
                </td>
                <td class="error">{{ NAME_ERROR }}</td>
            </tr>
            <tr>
                <td class="field-label">
                    <label>Open To:</label>
                </td>
                <td class="value">
                    <select class="select2" name="opento">
                        {% for opento in loops.opento %}
                        <option value="{{ opento.Id }}"
                                {% if opento.Id == OPENTO %}
                                selected="selected"
                                {% endif %}
                        >{{ opento.Name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td class="error">{{ OPENTO_ERROR }}</td>
            </tr>
            </tr>
            <tr>
                <td class="field-label">
                    <label>Theater:</label>
                </td>
                <td class="value">
                    <select class="select2" name="theater">
                        {% for theaters in loops.theaters %}
                        <option value="{{ theaters.Id }}"
                                {% if theaters.Id == THEATER %}
                                selected="selected"
                                {% endif %}
                        >{{ theaters.Name }} {{ theaters.Version }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td class="error">{{ THEATER_ERROR }}</td>
            </tr>
            <tr>
                <td class="field-label">
                    <label>Mission Type:</label>
                </td>
                <td class="value">
                    <select class="select2" name="missiontype">
                        {% for missiontypes in loops.missiontypes %}
                        <option value="{{ missiontypes.Id }}"
                                {% if missiontypes.Id == MISSIONTYPE %}
                                selected="selected"
                                {% endif %}
                        >{{ missiontypes.Name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td class="error">{{ MISSIONTYPE_ERROR }}</td>
            </tr>
            <tr>
                <td></td>
                <td id="mission-time-utc"></td>
            </tr>
            <tr>
                <td class="field-label">
                    <label>Mission Date/Time:</label>
                </td>
                <td class="value datetimefields">
                    <input type="text"
                           class="datetimepicker"
                           id="mission-date"
                           name="mission-date"
                           value="{{ MISSIONDATE }}"
                           autocomplete="off" />
                </td>
                <td class="error">{{ MISSIONDATETIME_ERROR }}</td>
            </tr>
            <tr>
                <td class="field-label">
                    <label>Timezone:</label>
                </td>
                <td class="value datetimefields">
                    <select class="select2" id="timezones" name="mission-timezone">
                        {% for timezones in loops.timezones %}
                        <option value="{{ timezones.Id }}"
                                {% if timezones.Id == MISSIONTIMEZONE %}
                                selected="selected"
                                {% endif %}
                        >{{ timezones.Name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td class="error">{{ MISSIONTIMEZONE_ERROR }}</td>
            </tr>
            <tr>
                <td class="field-label">
                    <label>Duration:</label>
                </td>
                <td class="duration">
                    <div id="duration-picker" class="duration-picker"></div>
                    <input id="duration-value" name="duration" type="hidden" value="{{ DURATION }}" />
                    <!-- <input type="text" class="duration-picker" name="duration" value="{{ DURATION }}" /> -->
                </td>
                <td class="error">{{ DURATION_ERROR }}</td>
            </tr>
            <tr>
                <td class="field-label">
                    <label>Host:</label>
                </td>
                <td class="value">
                    <input type="text" name="server" value="{{ SERVER }}" />
                </td>
                <td class="error">{{ SERVER_ERROR }}</td>
            </tr>
        </table>

        <h2>Packages</h2>
        {% for package in loops.packages %}
        <hr />
        <fieldset class="package">
            <legend>{% include "package-name.html" %}</legend>
            <input type="submit"
                   value="Delete This Package"
                   name="delete-package[{{ package.Id }}]" />
            <table>
                <tr>
                    <td class="field-label">Package Name</td>
                    <td class="value">
                        <input type="text" name="packages[{{ package.Id }}][Name]" value="{{ package.Name }}" />
                    </td>
                </tr>
                <tr>
                    <td class="field-label">Package Number</td>
                    <td class="value">
                        <input type="text"
                               name="packages[{{ package.Id }}][Number]"
                               value="{{ package.Number }}"
                               pattern="[0-9]*" />
                    </td>
                </tr>
            </table>
            <table class="flights">
                <thead>
                    <tr>
                        <th>Callsign</th>
                        <th>#</th>
                        <th>Aircraft</th>
                        <th>Seats</th>
                        <th>Role</th>
                        <th>Takeoff</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for flight in loops.flights %}
                    {% if flight.PackageId == package.Id %}
                    <tr>
                        <td class="callsign">
                            <div class="flight-error">
                                {{ flight.CallsignError }}
                            </div>
                            <select class="select2"
                                    name="flights[{{ flight.Id }}][CallsignId]">
                                {% for callsign in loops.callsigns %}
                                <option value="{{ callsign.Id }}"
                                        {% if callsign.Id == flight.CallsignId %}
                                        selected="selected"
                                        {% endif %}
                                >{{ callsign.Name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td class="callsign-num">
                            <div class="flight-error">
                                {{ flight.CallsignNumError }}
                            </div>
                            <input type="number"
                                   min="1"
                                   name="flights[{{ flight.Id }}][CallsignNum]"
                                   value="{{ flight.CallsignNum }}" />
                        </td>
                        <td class="aircraft">
                            <div class="flight-error">
                                {{ flight.AircraftError }}
                            </div>
                            <select class="select2"
                                    name="flights[{{ flight.Id }}][AircraftId]">
                                {% for aircraft in loops.aircraft %}
                                <option value="{{ aircraft.Id }}"
                                        {% if aircraft.Id == flight.AircraftId %}
                                        selected="selected"
                                        {% endif %}
                                >{{ aircraft.Name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td class="seats">
                            <div class="flight-error">
                                {{ flight.SeatsError }}
                            </div>
                            <input type="number"
                                   min="1"
                                   name="flights[{{ flight.Id }}][Seats]"
                                   value="{{ flight.Seats }}" />
                        </td>
                        <td class="role">
                            <div class="flight-error">
                                {{ flight.RoleError }}
                            </div>
                            <select class="select2"
                                    name="flights[{{ flight.Id }}][RoleId]">
                                {% for role in loops.roles %}
                                <option value="{{ role.Id }}"
                                        {% if role.Id == flight.RoleId %}
                                        selected="selected"
                                        {% endif %}
                                >{{ role.Name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td class="takeoff">
                            <div class="flight-error">
                                {{ flight.TakeoffError }}
                            </div>
                            <input name="flights[{{ flight.Id }}][TakeoffTime]"
                                   type="text"
                                   value="{{ flight.TakeoffTime }}"
                                   placeholder="e.g. 23:45" />
                        </td>
                        <td class="delete">
                            <input type="hidden"
                                   name="flights[{{ flight.Id }}][PackageId]"
                                   value="{{ package.Id }}" />
                            <input type="submit"
                                   value="Delete This Flight"
                                   name="delete-flight[{{ package.Id }}][{{ flight.Id }}]" />
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
            </table>
            <input name="add-flight[{{ package.Id }}]" type="submit" value="Add Flight" />
        </fieldset>
        {% endfor %}

        <input name="add-package"
               type="submit"
               value="Add Package"
               class="add-package-button" />

        <h2>Additional Information</h2>
        <div class="error">{{ DESCRIPTION_ERROR }}</div>
        <textarea name="description" rows="7">{{ DESCRIPTION }}</textarea>

        <input name="save" type="submit" value="Save" class="save-button bottom" />

    </form>
</div>

{% INCLUDE 'overall_footer.html' %}
