<!-- -*- mode: web -*- -->
{% INCLUDECSS 'https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css' %}
{% INCLUDECSS '@VFW440_flight_management/ato.css' %}

{% INCLUDEJS '@VFW440_flight_management/lib/moment.min.js' %}
{% INCLUDEJS '@VFW440_flight_management/lib/moment-timezone-with-data-2012-2022.js' %}
{% INCLUDEJS 'https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js' %}

{% INCLUDEJS '@VFW440_flight_management/ato-display-mission.js' %}

{% INCLUDE 'overall_header.html' %}

<script>
 missiondatetime = '{{ Date | date("Y-m-d\\TH:i\\Z") }}';
</script>

<div class="ato ato-display-mission">
    <div class="ato-index-link"><a href="{{ ATO_INDEX_PAGE }}">View ATO</a></div>
    <h1>Mission: {{ Name | escape }}
        {% if SHOW_EDIT_MISSION %}
        <a class="ato-button ato-edit-mission-button" href="{{ ATO_EDIT_MISSION_PAGE }}">Edit</a>
        {% endif %}
    </h1>

    <fieldset>
        <table class="mission-details">
            <tr>
                <td class="field-label">
                    <label>Creator:</label>
                </td>
                <td class="value">
                    <a href="{{ ROOT_PATH }}/memberlist.php?mode=viewprofile&un={{ CreatorName }}">{{ CreatorName }}</a>
                </td>
            </tr>
            {% if SHOW_EDIT_MISSION %}
            <tr>
                <td class="field-label">
                    <label>Visible:</label>
                </td>
                <td class="value">
                    {% if Published %}
                    Yes
                    {% else %}
                    No
                    {% endif %}
                </td>
            </tr>
            {% endif %}
            <tr>
                <td class="field-label">
                    <label>Open To:</label>
                </td>
                <td class="value">{{ OpenTo }}</td>
            </tr>
            </tr>
            <tr>
                <td class="field-label">
                    <label>Theater:</label>
                </td>
                <td class="value">{{ Theater }}</td>
            </tr>
            <tr>
                <td class="field-label">
                    <label>Mission Type:</label>
                </td>
                <td class="value">{{ Type }}</td>
            </tr>
            <tr>
                <td></td>
                <td id="mission-time-utc"></td>
            </tr>
            <tr>
                <td class="field-label date-time-label">
                    <label>Date/Time:</label>
                </td>
                <td class="value datetimefields" colspan="2">
                    <div class="missiontime-utc">
                        <span id="missiontime-utc"></span>
                        <span class="utc-label">(GMT)</span>
                    </div>
                    <div id="missiontime"></div>
                </td>
            </tr>
            <tr>
                <td class="field-label">
                    <label>Timezone:</label>
                </td>
                <td class="value">
                    <select class="select2" id="timezones" name="mission-timezone">
                        {% for timezones in loops.timezones %}
                        <option value="{{ timezones.Id }}">{{ timezones.Name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <button class="set-default-timezone ato-button" onclick="setDefaultTimezone()">Set as Default</button>
                </td>
            </tr>
            <tr>
                <td class="field-label">
                    <label>Duration:</label>
                </td>
                <td class="duration">{{ (ScheduledDuration / 60) | round(0, 'floor') }}:{{ "%02d" | format(ScheduledDuration % 60) }}</td>
            </tr>
            <tr>
                <td class="field-label">
                    <label>Server:</label>
                </td>
                <td class="value">{{ ServerAddress | escape }}</td>
            </tr>
        </table>
    </fieldset>

    <fieldset>
        <legend>Additional Info</legend>
        {% if Description %}
        <div class="additional-info">{{ Description }}</div>
        {% else %}
        <div class="additional-info">N/A</div>
        {% endif %}
    </fieldset>

    <form method="post">
        {S_FORM_TOKEN}
        <fieldset>
            <legend>Flights</legend>

            <table class="signin">
                <tbody>
                    {% for package in loops.packages %}
                    <tr class="package-header">
                        <td colspan="5">
                            <div class="package-name">{% include "package-name.html" %}</div>
                        </td>
                    </tr>
                    {% for flight in loops.flights %}
                    {% if flight.PackageId == package.Id %}
                    <tr class="flight-header">
                        <td class="flight-name">{{ flight.CallsignName }}-{{ flight.CallsignNum }}</td>
                        <td colspan="3">{{ flight.RoleName }}</td>
                        <td>T/O: {% if flight.TakeoffTime %}
                            {{ flight.TakeoffTime | escape }}
                            {% else %}
                            N/A
                            {% endif %}</td>
                    </tr>
                    {% if flight.Seats == 0 %}
                    <tr class="oddrow zeroseats">
                        <td colspan="5">
                            No seats available for signup.
                        </td>
                    </tr>
                    {% else %}
                    {% for seat in 1..flight.Seats %}
                    {% set participant = flight.Participants[seat] %}
                    <tr
                        {% if seat is divisibleby(2)  %}
                        class="evenrow"
                        {% else %}
                        class="oddrow"
                        {% endif %}
                    >
                        <td>{{ flight.CallsignName }} {{ flight.CallsignNum }}-{{ seat }}</td>
                        <td>{{ flight.AircraftName }}</td>

                        <td class="pilot-name">
                            {% if participant.MemberPilot %}
                            <a class="signed-in-pilot"
                               href="{{ ROOT_PATH }}/memberlist.php?mode=viewprofile&un={{ participant.MemberPilot }}">{{ participant.MemberPilot }}</a>
                            {% else %}
                            -
                            {% endif %}
                        </td>

                        <td>
                            {% if participant.Action == 'sign-in' %}
                            <input type="Submit"
                                   name="sign-in[{{ flight.Id }}][{{ seat }}]"
                                   value="Sign In"
                                   class="signup-button sign-in" />
                            {% elseif participant.Action == 'sign-out' %}
                            <input type="Submit"
                                   name="sign-out[{{ flight.Id }}][{{ seat }}]"
                                   value="Sign Out"
                                   class="signup-button sign-out" />
                            {% endif %}
                        </td>

                        <td>
                            {% if not participant.MemberPilot and participant.Action == 'sign-in' and SHOW_SIGNIN_USERS %}
                            <select class="select2"
                                    name="sign-in-pilot[{{ flight.Id }}][{{ seat }}]">
                                {% for pilot in loops.pilots %}
                                <option value="{{ pilot.Id }}"
                                        {% if pilot.Id == USER_ID %}
                                        selected="selected"
                                        {% endif %}
                                >{{ pilot.Name }}</option>
                                {% endfor %}
                            </select>
                            {% else %}
                            <div class="seat-open">&nbsp;</div>
                            {% endif %}
                        </td>

                    </tr>
                    {% endfor %} <!-- Seat -->
                    {% endif %} <!-- flight.Seats == 0 -->
                    {% endif %}
                    <tr>
                        <td colspan="5" class="flight-spacer">&nbsp;</td>
                    </tr>
                    {% endfor %} <!-- Flight -->
                    {% endfor %} <!-- Package -->
                </tbody>
            </table>
        </fieldset>
    </form>
</div>
{% INCLUDE 'overall_footer.html' %}
