<!-- -*- mode: web -*- -->
{% INCLUDECSS 'https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css' %}
{% INCLUDECSS '@VFW440_flight_management/lib/jquery-ui-timepicker-addon.css' %}
{% INCLUDECSS 'https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css' %}
{% INCLUDECSS '@VFW440_flight_management/lib/jquery.timesetter.css' %}
{% INCLUDECSS '@VFW440_flight_management/ato.css' %}

{% INCLUDEJS 'https://code.jquery.com/ui/1.12.1/jquery-ui.min.js' %}
{% INCLUDEJS '@VFW440_flight_management/lib/moment.min.js' %}
{% INCLUDEJS '@VFW440_flight_management/lib/moment-timezone-with-data-2012-2022.js' %}
{% INCLUDEJS 'https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js' %}
{% INCLUDEJS '@VFW440_flight_management/lib/jquery.timesetter.js' %}
{% INCLUDEJS '@VFW440_flight_management/lib/jquery-ui-timepicker-addon.js' %}

{% INCLUDEJS '@VFW440_flight_management/ato-edit-mission.js' %}

{% INCLUDE 'overall_header.html' %}

<h1>Edit a mission</h1>
<div class="ato mission-editor">
    <form method="post" id="edit-mission-form">
        {S_FORM_TOKEN}
        <input class="top-save-button ato-submit-input" name="save" type="submit" value="Save" />
        {% if SHOW_DELETE_BUTTON %}
        <input class="top-delete-button ato-submit-input" name="delete-mission" type="submit" value="Delete Mission" />
        {% endif %}
        <h2>Mission Details</h2>
        <div class="mission-details">
            <div class="details-element signup-link">
                <div class="field-label">
                    <label>Signup Link:</label>
                </div>
                <div class="value">
                    {% if MISSIONLINK %}
                    <a href="{{ MISSIONLINK }}">{{ MISSIONLINK }}</a>
                    {% else %}
                    (Must first save mission)
                    {% endif %}
                    {% if MISSIONLINK and not PUBLISHED %}
                    (not visible)
                    {% endif %}
                </div>
                <div class="error"></div>
            </div>
            <div class="details-element published">
                <div class="field-label">
                    <label>Visible?</label>
                </div>
                <div class="value">
                    <input class="publication-checkbox"
                           type="checkbox"
                           name="published"
                           {% if PUBLISHED %}
                           checked="checked"
                           {% endif %}
                    />
                </div>
                <div class="error"></div>
            </div>
            <div class="details-element">
                <div class="field-label">
                    <label>Mission Name:</label>
                </div>
                <div class="value">
                    <input type="text"
                           class="ato-text-input"
                           name="missionname"
                           value="{{ MISSIONNAME }}"
                           placeholder="Mission name" />
                </div>
                <div class="error">{{ NAME_ERROR }}</div>
            </div>
            <div class="details-element">
                <div class="field-label">
                    <label>Open To:</label>
                </div>
                <div class="value">
                    <select class="select2" name="opento">
                        {% for opento in loops.opento %}
                        <option value="{{ opento.Id }}"
                                {% if opento.Id == OPENTO %}
                                selected="selected"
                                {% endif %}
                        >{{ opento.Name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="error">{{ OPENTO_ERROR }}</div>
            </div>
            <div class="details-element">
                <div class="field-label">
                    <label>Theater:</label>
                </div>
                <div class="value">
                    <select class="select2" name="theater">
                        {% for theaters in loops.theaters %}
                        <option value="{{ theaters.Id }}"
                                {% if theaters.Id == THEATER %}
                                selected="selected"
                                {% endif %}
                        >{{ theaters.Name }} {{ theaters.Version }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="error">{{ THEATER_ERROR }}</div>
            </div>
            <div class="details-element">
                <div class="field-label">
                    <label>Mission Type:</label>
                </div>
                <div class="value">
                    <select class="select2" name="missiontype">
                        {% for missiontypes in loops.missiontypes %}
                        <option value="{{ missiontypes.Id }}"
                                {% if missiontypes.Id == MISSIONTYPE %}
                                selected="selected"
                                {% endif %}
                        >{{ missiontypes.Name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="error">{{ MISSIONTYPE_ERROR }}</div>
            </div>
            <div class="details-element">
                <div class="field-label date-time-label">
                    <label>Mission Date/Time:</label>
                </div>
                <div class="value datetimefields">
                    <div id="mission-time-utc"></div>
                    <input type="text"
                           class="datetimepicker ato-text-input"
                           id="mission-date"
                           name="mission-date"
                           value="{{ MISSIONDATE }}"
                           autocomplete="off" />
                </div>
                <div class="error">{{ MISSIONDATETIME_ERROR }}</div>
            </div>
            <div class="details-element">
                <div class="field-label">
                    <label>Timezone:</label>
                </div>
                <div class="value datetimefields">
                    <select class="select2" id="timezones" name="mission-timezone">
                        {% for timezones in loops.timezones %}
                        <option value="{{ timezones.Id }}"
                                {% if timezones.Id == MISSIONTIMEZONE %}
                                selected="selected"
                                {% endif %}
                        >{{ timezones.Name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="error">{{ MISSIONTIMEZONE_ERROR }}</div>
            </div>
            <div class="details-element">
                <div class="field-label">
                    <label>Duration:</label>
                </div>
                <div class="duration">
                    <div id="duration-picker" class="duration-picker"></div>
                    <input id="duration-value" name="duration" type="hidden" value="{{ DURATION }}" />
                    <!-- <input type="text" class="duration-picker" name="duration" value="{{ DURATION }}" /> -->
                </div>
                <div class="error">{{ DURATION_ERROR }}</div>
            </div>
            <div class="details-element">
                <div class="field-label">
                    <label>Server:</label>
                </div>
                <div class="value">
                    <input type="text"
                           name="server"
                           class="ato-text-input"
                           value="{{ SERVER }}" />
                </div>
                <div class="error">{{ SERVER_ERROR }}</div>
            </div>
        </div>

        <h2 class="packages-header">Packages
            <input name="add-package"
                   type="submit"
                   value="Add Package to Mission"
                   class="add-package-button ato-submit-input" />
        </h2>

        {% for package in loops.packages %}
        <fieldset class="package">
            <legend>{% include "package-name.html" %}
                <input type="submit"
                       value="Delete This Package"
                       name="delete-package[{{ package.Id }}]"
                       class="delete-package-button ato-submit-input" />
            </legend>
            <table>
                <tr>
                    <td class="field-label">Package Name</td>
                    <td class="value">
                        <input type="text"
                               name="packages[{{ package.Id }}][Name]"
                               value="{{ package.Name }}"
                               class="ato-text-input"
                               placeholder="Name" />
                    </td>
                </tr>
                <tr>
                    <td class="field-label">Package Number</td>
                    <td class="value">
                        <input type="text"
                               class="ato-number-input"
                               name="packages[{{ package.Id }}][Number]"
                               value="{{ package.Number }}"
                               pattern="[0-9]*"
                               placeholder="1234" />
                    </td>
                </tr>
            </table>
            <table class="flights">
                <thead>
                    <tr>
                        <th>Callsign</th>
                        <th>#</th>
                        <th>Aircraft</th>
                        <th>Seats</th>
                        <th>Role</th>
                        <th>Takeoff</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for flight in loops.flights %}
                    {% if flight.PackageId == package.Id %}
                    <tr>
                        <td class="callsign">
                            <div class="flight-error">
                                {{ flight.CallsignError }}
                            </div>
                            <select class="select2"
                                    name="flights[{{ flight.Id }}][CallsignId]">
                                {% for callsign in loops.callsigns %}
                                <option value="{{ callsign.Id }}"
                                        {% if callsign.Id == flight.CallsignId %}
                                        selected="selected"
                                        {% endif %}
                                >{{ callsign.Name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td class="callsign-num">
                            <div class="flight-error">
                                {{ flight.CallsignNumError }}
                            </div>
                            <input type="number"
                                   min="1"
                                   name="flights[{{ flight.Id }}][CallsignNum]"
                                   value="{{ flight.CallsignNum }}" />
                        </td>
                        <td class="aircraft">
                            <div class="flight-error">
                                {{ flight.AircraftError }}
                            </div>
                            <select class="select2"
                                    name="flights[{{ flight.Id }}][AircraftId]">
                                {% for aircraft in loops.aircraft %}
                                <option value="{{ aircraft.Id }}"
                                        {% if aircraft.Id == flight.AircraftId %}
                                        selected="selected"
                                        {% endif %}
                                >{{ aircraft.Name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td class="seats">
                            <div class="flight-error">
                                {{ flight.SeatsError }}
                            </div>
                            <input type="number"
                                   min="0"
                                   name="flights[{{ flight.Id }}][Seats]"
                                   value="{{ flight.Seats }}" />
                        </td>
                        <td class="role">
                            <div class="flight-error">
                                {{ flight.RoleError }}
                            </div>
                            <select class="select2"
                                    name="flights[{{ flight.Id }}][RoleId]">
                                {% for role in loops.roles %}
                                <option value="{{ role.Id }}"
                                        {% if role.Id == flight.RoleId %}
                                        selected="selected"
                                        {% endif %}
                                >{{ role.Name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td class="takeoff">
                            <div class="flight-error">
                                {{ flight.TakeoffError }}
                            </div>
                            <input name="flights[{{ flight.Id }}][TakeoffTime]"
                                   type="text"
                                   value="{{ flight.TakeoffTime }}"
                                   placeholder="HH:MM" />
                        </td>
                        <td class="delete">
                            <input type="hidden"
                                   name="flights[{{ flight.Id }}][PackageId]"
                                   value="{{ package.Id }}" />
                            <input type="submit"
                                   class="ato-submit-input"
                                   value="Delete This Flight"
                                   name="delete-flight[{{ flight.Id }}]" />
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
            </table>
            <input name="add-flight[{{ package.Id }}]"
                   class="ato-submit-input"
                   type="submit"
                   value="Add Flight to Package" />
        </fieldset>
        {% endfor %}

        <h2>Additional Information</h2>
        <div class="error">{{ DESCRIPTION_ERROR }}</div>
        <textarea name="description" rows="7">{{ DESCRIPTION }}</textarea>

        <input name="save" type="submit" value="Save" class="save-button bottom ato-submit-input" />

    </form>
</div>

{% INCLUDE 'overall_footer.html' %}
