<!-- -*- mode: web -*- -->
{% INCLUDECSS '@VFW440_flight_management/ato.css' %}
{% INCLUDECSS 'https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css' %}

{% INCLUDEJS 'https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js' %}
{% INCLUDEJS '@VFW440_flight_management/ato-display-mission.js' %}

{% INCLUDE 'overall_header.html' %}

<h1>Mission: {{ Name }}</h1>

<fieldset>
    <legend>Data</legend>
    <table class="mission-details">
        <tr>
            <td class="field-label">
                <label>Published?</label>
            </td>
            <td class="value">
                {% if Published %}
                Yes
                {% else %}
                No
                {% endif %}
            </td>
        </tr>
        <tr>
            <td class="field-label">
                <label>Open To:</label>
            </td>
            <td class="value">{{ OpenTo }}</td>
        </tr>
        </tr>
        <tr>
            <td class="field-label">
                <label>Theater:</label>
            </td>
            <td class="value">{{ Theater }}</td>
        </tr>
        <tr>
            <td class="field-label">
                <label>Mission Type:</label>
            </td>
            <td class="value">{{ Type }}</td>
        </tr>
        <tr>
            <td></td>
            <td id="mission-time-utc"></td>
        </tr>
        <tr>
            <td class="field-label">
                <label>Date/Time:</label>
            </td>
            <td class="value datetimefields">{{ Date | date("Y/m/d H:i") }}</td>
        </tr>
        <!-- <tr>
             <td class="field-label">
             <label>Timezone:</label>
             </td>
             <td class="value datetimefields">
             <select class="select2" id="timezones" name="mission-timezone">
             {% for timezones in loops.timezones %}
             <option value="{{ timezones.Id }}"
             {% if timezones.Id == MISSIONTIMEZONE %}
             selected="selected"
             {% endif %}
             >{{ timezones.Name }}</option>
             {% endfor %}
             </select>
             </td>
             <td class="error">{{ MISSIONTIMEZONE_ERROR }}</td>
             </tr> -->
        <tr>
            <td class="field-label">
                <label>Duration:</label>
            </td>
            <td class="duration">{{ Duration / 60 }}:{{ "%02d" | format(Duration % 60) }}</td>
        </tr>
        <tr>
            <td class="field-label">
                <label>Host:</label>
            </td>
            <td class="value">{{ ServerAddress }}</td>
        </tr>
    </table>
</fieldset>

<form method="post">
    <fieldset>
        <legend>Flights</legend>

        <!-- Flight summary -->
        <table class="flight-summary">
            <tbody>
                {% for package in loops.packages %}
                <tr><td colspan="4">{% include "package-name.html" %}</td></tr>
                {% for flight in loops.flights %}
                {% if flight.PackageId == package.Id %}
                <tr>
                    <td>{{ flight.CallsignName }}-{{ flight.CallsignNum }}</td>
                    <td>{{ flight.Seats }} x {{ flight.AircraftName }}</td>
                    <td>{{ flight.RoleName }}</td>
                    <td>TO: {{ flight.TakeoffTime }}</td>
                </tr>
                {% endif %}
                {% endfor %}
                <tr><td colspan="2">&nbsp;</td></tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Signin -->

        <h2>Sign in/out</h2>

        <table class="signin">
            <tbody>
                {% for package in loops.packages %}
                {% for flight in loops.flights %}
                {% if flight.PackageId == package.Id %}
                {% for seat in 1..flight.Seats %}
                {% set participant = flight.Participants[seat] %}
                <tr>
                    <td>{{ flight.CallsignName }}</td>
                    <td>{{ flight.CallsignNum }}-{{ seat }}</td>
                    <td>{% if participant %}
                        {{ participant.MemberPilot }}
                        {% else %}
                        -
                        {% endif %}
                    </td>
                    <td>
                        {% if participant.Action == 'sign-in' %}
                        <input type="Submit"
                               name="sign-in[{{ flight.Id }}][{{ seat }}]"
                               value="Sign In" />
                        {% elseif participant.Action == 'sign-out' %}
                        <input type="Submit"
                               name="sign-out[{{ flight.Id }}][{{ seat }}]"
                               value="Sign Out" />
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                <tr><td colspan="2">&nbsp;</td></tr>
                {% endif %}
                {% endfor %}
                {% endfor %}
            </tbody>
        </table>

    </fieldset>
</form>

{% INCLUDE 'overall_footer.html' %}
