<!-- INCLUDECSS @VFW440_flight_management/ato.css -->

<!-- INCLUDE overall_header.html -->

<h1>440th VFW ATO</h1>
<div class="extra-bottom-margin">
  <a class="ato-button" href="{ATO_NEW_MISSION_PAGE}">Schedule a new mission</a>
  <div>TODO: Display mission schedule. A list? A calendar view?</div>
  <div>I sort of liked that app that whatshisname made, where it
    showed the week in your local time zone as a kind of a grid with
    flights were coming up on it, a bit like Google Calendar.</div>
</div>

<!-- INCLUDE overall_footer.html -->
