<!-- -*- mode: web -*- -->
{% INCLUDECSS 'fullcalendar.css' %}
{% INCLUDECSS 'https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css' %}
{% INCLUDECSS '@VFW440_flight_management/ato.css' %}

{% INCLUDE 'overall_header.html' %}

{% INCLUDEJS 'lib/moment.min.js' %}
{% INCLUDEJS '@VFW440_flight_management/lib/moment-timezone-with-data-2012-2022.js' %}
{% INCLUDEJS 'https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js' %}
{% INCLUDEJS 'fullcalendar.js' %}
{% INCLUDEJS 'ato-index.js' %}

<div class="ato ato-index">
    <div class="extra-bottom-margin">
        <h1>Air Tasking Order</h1>

        <div class="top-bar">
            {% if SHOW_SCHEDULE_MISSION %}
            <a class="whatever ato-button" href="{{ ATO_NEW_MISSION_PAGE }}">Schedule a new mission</a>
            {% endif %}

            <div class="timezone-selector">
                <span>Show times in:</span>
                <select class="select2" id="timezones" name="mission-timezone">
                    {% for timezones in loops.timezones %}
                    <option value="{{ timezones.Id }}">{{ timezones.Name }}</option>
                    {% endfor %}
                </select>
                <button class="ato-button" onclick="setDefaultTimezone()">Set as Default</button>
            </div>
        </div>

        <div id="ato-calendar"></div>

        <script>
         atoEventData =
             [
                 {% for mission in loops.missions %}
                 {
                     title  : '{{ mission.Title | e('js') }}',
                     start  : '{{ mission.Start }}',
                     end    : '{{ mission.End }}',
                     url    : '{{ mission.Url }}',
                     {% if not mission.Published %}
                     color  : 'grey'
                     {% endif %}
                 },
                 {% endfor %}
             ];
        </script>

    </div>
</div>

{% INCLUDE 'overall_footer.html' %}
