/* h1, h2 { */
/*     font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; */
/* } */

#site-description,#search-box {
    display: none;
}

.ato h1 {
    font-size: 170%;
}

.ato h2 {
    font-size: 150%;
}

.ato h3 {
    font-size: 110%;
}

.ato fieldset {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.ato legend {
    font-size: 110%;
}

.ato-display-mission legend {
    font-size: 200%;
    margin-bottom: 5px;
}

.ato .ato-submit-input {
    border-radius: 4px;
    padding: 2px 4px;
    background: white;
}

.top-save-button {
}

#edit-mission-form {
    position: relative;
}

.top-delete-button {
    position: absolute;
    right: 10px;
}

.save-button.bottom {
    display: block;
}

.add-package-button {
    font-size: 60%;
    padding: 0.2em;
}

.delete-package-button{
    font-size: 70%;
    padding: 0.1em;

}

a.ato-button {
    -moz-appearance: button;
    -ms-appearance: button;
    -o-appearance: button;
    -webkit-appearance: button;
    appearance: button;
    text-decoration: none;
    color: #000;
    padding: 3px 6px;
    border-radius: 4px;
    margin-bottom: 3px;
}

.extra-margin-bottom {
}

.error {
    color: #9C0707;
    font-style: italic;
    margin-left: 5px;
    max-width: 150px;
    display: inline-block;
}

.flight-error {
    color: #9C0707;
    font-size: 80%;
    font-style: italic;
    /* min-height: 20px; */
}

.value {
    width: auto;
}

.mission-editor {
    margin-bottom: 2em;
}

.mission-editor table {
    border-collapse: separate;
    border-spacing: 5px 5px;
}

.mission-editor .field-label {
    vertical-align: bottom;
}

.mission-editor .value textarea {
    width: 100%;
}

.mission-editor .value select {
    width: 100%;
}

.mission-editor input {
    padding-top: 3px;
}

.mission-editor .value input {
    width: 100%;
}

.mission-editor .value input.durationpicker-duration {
    width: auto;
}

.mission-editor fieldset.package {
    /* border: solid 1px lightgrey; */
    /* padding: 4px 7px; */
    margin-bottom: 25px;
}

.mission-editor table.mission-details tr td:nth-child(2) {
    width: 300px;
}

.mission-editor .datetimefields input,select {
    display: inline-block;
    margin-right: 5px;
}

.mission-editor #mission-time-utc {
    color: grey;
    font-style: italic;
    font-size: 90%;
}

table.flights tr {
    vertical-align: bottom;
}

table.flights td.callsign {
    width: 150px;
}

table.flights td.callsign-num {
    width: 50px;
}

table.flights td.callsign-num input {
    width: 50px;
}

table.flights td.aircraft {
    width: 150px;
}

table.flights td.seats input {
    width: 50px;
}

table.flights td.role {
    width: 150px;
}

table.flights td.takeoff input {
    width: 75px;
}

.ato-index .top-bar {
    margin-bottom: 20px;
    font-size: 120%;
    display: flex;
    justify-content: space-between;
}

.ato-index .ato-button {
    background: white;
    padding: 3px 6px;
    border-radius: 4px;
    border-color: lightgrey;
    border-width: 1px;
    border-style: solid;
}

.ato-index .top-bar .ato-button {
    /* display: inline-block; */
}

.ato-index .top-bar .timezone-selector {
    /* display: inline-block; */
    /* float:right; */
}

.ato-display-mission fieldset {
    margin-bottom: 20px;
}

.ato-display-mission table td {
    padding: 0 15px 0 0;
}

.ato-display-mission td .package-name {
    font-weight: bold;
    font-size: 110%;
    margin-top: 8px;
    margin-bottom: 5px;
}

.ato-display-mission .signin tr.oddrow {
    background: lightgrey;
}

.ato-display-mission .seat-open {
    text-align: center;
}

.ato-display-mission .signup-button {
    min-width: 88px;
    padding: 2px;
    margin: 2px 0;
    border-radius: 5px;
}

.ato-display-mission .mission-details {
    font-size: 135%;
    margin-top: 15px;
}

.ato-display-mission .mission-details td {
    padding-bottom: 5px;
    margin-top: 5px;
}

.ato-display-mission .set-default-timezone {
    background: white;
    padding: 3px 6px;
    border-radius: 4px;
    border-color: lightgrey;
    border-width: 1px;
    border-style: solid;
}

.ato-display-mission .missiontime-utc {
    font-size: 90%;
    opacity: 0.9;
}

.ato-display-mission .ato-edit-mission-button {
    font-weight: normal;
    font-size: 75%;
    border-radius: 5px;
    padding: 3px 5px;
}

.ato-display-mission .signin .flight-header {
    border-top: solid 1px black;
    font-weight: bold;
    border-bottom: dashed 1px black;
}

.ato-display-mission .signin .flight-name {
    padding-top: 5px;
    padding-bottom: 4px;
    font-size: 105%;
}

.ato-display-mission .package-header {
    border-top: solid 1px black;
    background: #ddd;
}

.ato-display-mission .signin td {
    padding-left: 2px;
}

.ato-display-mission .signin .pilot-name {
    text-align: center;
    min-width: 100px;
    padding: 2px 0;
}

.ato-display-mission .signin .signed-in-pilot {
    padding: 4px 0;
    display: inline-block;
}

.ato-display-mission .additional-info.field-label {
    vertical-align: top;
}

.ato-display-mission .additional-info {
    border: solid 1px lightgrey;
    width: 97%;
    white-space: pre-wrap;
    font-size: 110%;
    font-family: monospace;
    padding: 5px;
    margin-right: 20px;
}

.ato .ato-text-input {
    padding: 2px;
    overflow: visible;
}

.ato .ato-number-input {
    padding: 4px 2px 0 2px;
    overflow: visible;
}

.ato .mission-editor .publication-checkbox {
    /* Fix for stupid IE problem where checkbox centers itself */
    width: auto;
    margin-top: 5px;
}

.divTimeSetterContainer {
    margin: 0;
}

.field-label {
    display: inline-block;
    width: 150px;
}

.value {
    display: inline-block;
    width: 300px;
}

.duration {
    display: inline-block;
}

.details-element {
    margin-bottom: 5px;
    display: flex;
    flex-basis: 40%;
    min-width: 615px;
}

.details-element.published .value {
    margin-bottom: 5px;
    white-space: nowrap;
}

.mission-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.mission-editor .date-time-label {
    padding-top: 15px;
}

.ato-display-mission .date-time-label {
    vertical-align: bottom;
}

.ato-display-mission .signin-selector {
    white-space: nowrap;
}
