a.ato-button {
    -moz-appearance: button;
    -ms-appearance: button;
    -o-appearance: button;
    -webkit-appearance: button;
    appearance: button;
    text-decoration: none;
    color: #000;
    padding: 0.2em 0.4em;
}

.extra-margin-bottom {
}

.error {
    font-color: red;
    font-style: italic;
}

.value {
    width: auto;
}

.mission-editor {
    margin-bottom: 2em;
}

.mission-editor table {
    border-collapse: separate;
    border-spacing: 5px 5px;
}

.mission-editor .field-label {
    vertical-align: top;
}

.mission-editor .value textarea {
    width: 100%;
}

.mission-editor .value select {
    width: 100%;
}

.mission-editor .value input {
    width: 100%;
}

.mission-editor .value input.durationpicker-duration {
    width: auto;
}

.mission-editor fieldset.package {
    /* border: solid 1px lightgrey; */
    /* padding: 4px 7px; */
}

.mission-editor table tr td:nth-child(2) {
    width: 300px;
}

.mission-editor .datetimefields input,select {
    display: inline-block;
    margin-right: 5px;
}

.mission-editor #mission-time-utc {
    color: grey;
    font-style: italic;
    font-size: 90%;
}
